<script setup lang="ts">
import { Icon } from '@iconify/vue'

interface Props {
  name: string
  collection?: string
}

const props = withDefaults(defineProps<Props>(), {
  collection: 'material-symbols'
})

const iconName = computed(() => {
  return props.name.includes(':') ? props.name : `${props.collection}:${props.name}`
})
</script>

<template>
  <Icon :icon="iconName" />
</template>
