<script setup lang="ts">
const props = defineProps<{
  href: string
}>()

const isInternal = computed(() => props.href.startsWith('/'))
</script>

<template>
  <RouterLink v-if="isInternal" :to="props.href">
    <slot />
  </RouterLink>

  <a v-else :href="props.href" target="_blank" rel="noreferrer noopener">
    <slot />
  </a>
</template>
